<retro-post-it id="login">
    <div postItHeader class="header"></div>
    <div class="login-content" postItContent>
        <h1>Login</h1>
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <label class="form-label" for="email">Email</label>
                <input 
                    id="email"
                    class="form-control" 
                    type="email"
                    formControlName="email"    
                />
            </div>
            <div class="form-group">
                <label class="form-label" for="password">Password</label>
                <input 
                    id="password" 
                    class="form-control" 
                    type="password"
                    formControlName="password"
                />
            </div>
            <button class="btn btn-info btn-block login-btn">Login</button>
        </form>
    </div>
</retro-post-it>
