:host {
    // position: relative;
    display: block;

    .post-it {
        height: 100%;
        display: flex;
        flex-direction: column;

        .post-it-header {
            background-color: #f8f884;
            min-height: 2rem;
        }
    
        .post-it-content {
            flex-grow: 1;
            overflow: auto;
    
            &::-webkit-scrollbar {
                width: 10px;
            }
              
            &::-webkit-scrollbar-track {
                background: transparent; 
            }
            
            &::-webkit-scrollbar-thumb {
                background: darken(#fdfd86, 30%); 
            }
            
            &::-webkit-scrollbar-thumb:hover {
                background: darken(#fdfd86, 40%); 
            }
        }
    
        background: #ffff88;
        background: -moz-linear-gradient(-45deg, #ffff88 81%, #ffff88 82%, #ffff88 82%, #ffffc6 100%);
        background: -webkit-gradient(linear, left top, right bottom, color-stop(81%,#ffff88), color-stop(82%,#ffff88), color-stop(82%,#ffff88), color-stop(100%,#ffffc6));
        background: -webkit-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%);
        background: -o-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%);
        background: -ms-linear-gradient(-45deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%);
        background: linear-gradient(135deg, #ffff88 81%,#ffff88 82%,#ffff88 82%,#ffffc6 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff88', endColorstr='#ffffc6',GradientType=1 );
        text-align: center;
    
        border-bottom-right-radius: 60px 5px;
    }
}